name: Dapp test

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            os_attr: linux
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v14
      - uses: cachix/cachix-action@v10
        with:
          name: dapp
          skipPush: true
          signingKey: ""

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - name: Install dependencies
        run: yarn install --ignore-scripts --frozen-lockfile --prod

      - name: Install dapp tools
        run: nix-env -f https://github.com/dapphub/dapptools/archive/master.tar.gz -iA solc-static-versions.solc_0_8_9

      - name: Perfrom dapp test
        run: nix-shell --pure --command "export LANG=C.UTF-8 ; dapp test"
