name: Forge tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Create env
        run: |
          touch .env
          echo POLYGON_RPC_URL=${{ secrets.RPC_URL_POLYGON }} >> .env

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - name: Install dependencies
        run: yarn install --ignore-scripts --frozen-lockfile --prod

      - name: Set up Sushiswap
        run: |
          cd forge_test/lib/sushiswap
          yarn install --ignore-scripts --frozen-lockfile
          yarn build

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run tests
        run: yarn test:forge
